{% extends 'base_email.html' %}
{% block content %}
    Hi <strong>{{ first_name }}</strong>,
    <br><br>

    You're receiving this email because you can now activate your user account.
    <br><br>

    Please go to the following page and choose a new password:
    <br><br>

    <a href="{{ domain }}/complete-password-reset/{{ uid }}/{{ token }}/"
       style="background-color: #6F40FF;
              border: none;
              color: white;
              padding: 10px 20px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              cursor: pointer;
              border-radius: 4px;">
        Click here to set your password
    </a>
    <br><br>

    Your username, in case you’ve forgotten: <strong>{{ username }}</strong>
    <br><br>
{% endblock content %}