{% autoescape off %}
    <div style="background-color: #3B5EAB;
                padding: 25px;
                border-radius: 25px;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        Hi <strong>{{ user.first_name }}</strong>,
        <br><br>

        You're receiving this email because you requested a password reset for your account.
        <br><br>

        Please go to the following page and choose a new password:
        <br><br>

        <a href="{{ domain }}/complete-password-reset/{{ uid }}/{{ token }}/"
           style="background-color: #6F40FF;
                  border: none;
                  color: white;
                  padding: 10px 20px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  cursor: pointer;
                  border-radius: 4px;">
            Click here to reset your password
        </a>
        <br><br>

        Your username, in case you’ve forgotten: <strong>{{ user.username }}</strong>
        <br><br>

        Thank you for using the site!
        <br><br>
    </div>
{% endautoescape %}