DJANGO_SECRET_KEY=EXAMPLE_VALUE
DJANGO_DEBUG=EXAMPLE_VALUE
DB_NAME=EXAMPLE_VALUE
DB_USER=EXAMPLE_VALUE
DB_PASSWORD=EXAMPLE_VALUE
DB_HOST=EXAMPLE_VALUE
DB_PORT=EXAMPLE_VALUE
DJANGO_SENDER_EMAIL=EXAMPLE_VALUE
DJANGO_SENDER_EMAIL_PASSWORD=EXAMPLE_VALUE
REDIS_PRIVATE_URL=EXAMPLE_VALUE
REDIS_PRIVATE_URL=redis://redis:6379